<h1>
  Order Form .
</h1>
{{orderForm.value |json}}

<form [formGroup]="orderForm">
  <div class="form-group">
    <input  class="form-control"  formControlName="orderId" type="number" placeholder="orderId">
  </div>
  <div class="form-group">
    <input  class="form-control"  formControlName="customerName" type="text" placeholder="customerName">
  </div>
  <div class="form-group">
    <input  class="form-control"  formControlName="email" type="text" placeholder="email">
  </div>
  <div class="form-group">
    <input  class="form-control"  formControlName="mobile" type="number" placeholder="mobile">
  </div>
  <div formGroupName="address">
      <div class="form-group">
          <input  class="form-control"  formControlName="addressLine1" type="text" placeholder="addressLine1">
        </div>
        <div class="form-group">
            <input  class="form-control"  formControlName="addressLine2" type="text" placeholder="addressLine2">
          </div>
          <div class="form-group">
              <input  class="form-control"  formControlName="city" type="text" placeholder="city">
            </div>
            <div class="form-group">
                <input  class="form-control"  formControlName="pin" type="number" placeholder="pin">
              </div>
  </div>
</form>
